.Rproj.user
.Rhistory
.RData
.Ruserdata
data/siegel_temperature/siegel_mfsr.rds
.DS_Store
data/.DS_Store
*.DS_Store
data/siegel_temperature/IsaakSiegelCompare.csv"


# Cache files
*_cache
*_workflow_files
*.knit
*.log
docs/appendix_files