# R project files
.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Cache and render artifacts
*_cache/
*_files/
*.knit.md
*.log
docs/appendix_files/

# Data files not tracked
data/siegel_temperature/siegel_mfsr.rds
data/siegel_temperature/IsaakSiegelCompare.csv"

# MacOS files
.DS_Store
